name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: cargo test --verbose --all-targets

    - name: Run doc tests
      run: cargo test --doc

    - name: Build project
      run: cargo build --release

    - name: Build examples
      run: cargo build --release --examples
